<!DOCTYPE HTML>
<html lang="en">  
  <head>

    <%- include('../layout/head') %>

    <title>What To Wear - [Detail view]</title>

  </head>

  <body>
    <header>
      <%- include('../layout/nav') %>
    </header>
    <main>
      <h1>What To Wear</h1>


      <!-- <p class="weather-summary"><%= searchData.formatted_query %>: <%= localWeather.dailySummary %> High of <%= Math.round(localWeather.maxTemperature) %>° F, low of <%= Math.round(localWeather.minTemperature) %>° F.</p> -->

      <p class="weather-summary"><%= searchData.formatted_query.split(',')[0] %>, <%= searchData.formatted_query.split(',')[1].split(' ')[1] %></p>

      <div class="clothing">

        <section class="accessories">
            <% if (display.umbrella) { %>
              <img class="clothing-icons" src="assets/clothing-icons/svg/umbrella.svg" alt="umbrella" />
            <% } %>
            <% if (display.sunglasses) { %>
              <img class="clothing-icons" src="assets/clothing-icons/svg/sunglasses.svg" alt="sunglasses" />
            <% } %>
        </section>

        <section class="hats">
            <% if (display.cap) { %>
              <img class="clothing-icons" src="assets/clothing-icons/svg/cap.svg" alt="baseball hat" />
            <% } %>
            <% if (display.snowCap) { %>
              <img class="clothing-icons" src="assets/clothing-icons/svg/winter-hat.svg" alt="winter hat" />
            <% } %>
        </section>
  
        <section class="jackets">
            <% if (display.hoodie) { %>
              <img class="clothing-icons" src="assets/clothing-icons/svg/hoodie.svg" alt="hoddie" />
            <% } %>
            <% if (display.rainCoat) { %>
              <img class="clothing-icons" src="assets/clothing-icons/svg/raincoat.svg" alt="rain coat" />
            <% } %>
            <% if (display.lightJacket) { %>
              <img class="clothing-icons" src="assets/clothing-icons/svg/jacket.svg" alt="light jacket" />
            <% } %>
            <% if (display.winterJacket) { %>
              <img class="clothing-icons" src="assets/clothing-icons/svg/coat.svg" alt="winter coat" />
            <% } %>
        </section>
  
        <section class="shirts">
            <% if (display.longTee) { %>
              <img class="clothing-icons" src="assets/clothing-icons/svg/shirt.svg" alt="long sleeve T-shirt" />
            <% } %>
            <% if (display.shortTee) { %>
              <img class="clothing-icons" src="assets/clothing-icons/svg/shirt-1.svg" alt="short sleeve T-shirt" />
            <% } %>
        </section>
  
        <section class="pants">
            <% if (display.pants) { %>
              <img id="trousers" class="clothing-icons" src="assets/clothing-icons/svg/trousers.svg" alt="pants" />
            <% } %>
            <% if (display.shorts) { %>
              <img id="shorts" class="clothing-icons" src="assets/clothing-icons/svg/shorts.svg" alt="shorts" />
            <% } %>
        </section>
  
        <section class="shoes">
            <% if (display.shoes) { %>
              <img class="clothing-icons" src="assets/clothing-icons/svg/shoe.svg" alt="sneakers" />
            <% } %>
            <% if (display.rainBoots) { %>
              <img class="clothing-icons" src="assets/clothing-icons/svg/boots.svg" alt="rain boots" />
            <% } %>
        </section>
  
      </div>



      

    </main>
    <footer>

    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>
